<% include common/header %>
<% include common/left %>
    <!-- Main content -->
    <section class="content">
     <h2>Welcome in admin section</h2>
    </section>
    <!-- /.content -->
<% include common/footer %>